# Python artefacts
__pycache__/
*.py[cod]
*.so
*.egg*

# Environments & tooling
.env
.venv/
venv/

# Packages / build
build/
dist/
.eggs/

# Editor / IDE
.vscode/
.idea/

# Logs & system files
*.log
.DS_Store
